services:
  - type: web
    name: zamar-springs
    env: python
    plan: free
    buildCommand: |
      pip install -r requirements.txt
      python manage.py migrate
      python manage.py collectstatic --noinput
    startCommand: gunicorn zamar_springs.wsgi:application --log-file -
    autoDeploy: true
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: DEBUG
        value: "False"
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: 127.0.0.1,localhost
      - key: CSRF_TRUSTED_ORIGINS
        value: ""
